*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s;
}

h1 {
    color: #673AB7;
}

input {
    background-color: #424242;
    font-family: 'Droid Sans', sans-serif;
}
.group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.group .blam{
    margin: 0 15px;
    font-family: 'Droid Sans', sans-serif;
}

.blam{
    cursor: pointer;
    background-color:#00bff0;
    border-color: #00bff0;
    border-radius: 3px;
    padding: 15px 70px;
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.41);
    box-shadow: 0 3px 0 0 #383838;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.active {
    background-color:#673ab7;
}

.blam:active{
    background-image: linear-gradient(rgba(0,0,0,.1) 13%, transparent 13%,transparent);
    box-shadow: 0 1px 0 0 #383838;
    color: rgba(0, 0, 0,.45);
    text-shadow: none;
    animation: pulse 1s linear infinite alternate;
    -webkit-animation: pulse 1s linear infinite alternate;
}

@-webkit-keyframes pulse {
    100% {
        transform: translateY(6.9px);
    }
}

@keyframes pulse {
    100% {
        transform: translateY(6.9px);
    }
}