.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.viewContainer {
  margin: 100px 25px 50px;
  background: #f9faff;
  padding: 25px 25px 50px;
  border-radius: 5px;
  box-shadow: 1px 2px 4px #e7e7e7;
}

.title {
  color: #0779d4;
}

thead {
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}
.bodyRow {
  font-size: 14px;
  font-style: normal;
}

.text {
  text-align: left;
}
.date {
  font-style: italic;
}
.number, .money {
  text-align: right;
}

