.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    margin: 25px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #ccc;
    padding: 5px 20px;
}

.menu a:hover {
    background-color: #673ab7;
}

.taskItem {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.taskItem li {
    margin: 10px 15px;
}

.done {
    color: #04da04;
}

.appBody {
    text-align: center;
}

.addForm {
    display: flex;
    justify-content:center;
    align-items: center;
}

.addForm label {
    margin-right: 20px;
}

