*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s;
}
input{
    background-color: #424242;
    font-family: 'Droid Sans', sans-serif;
}
.group{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px auto;
}
.group input{
    margin-top: 10px;
}
input{
    background: none;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 15px 70px;
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.41);
    box-shadow: 0 3px 0 0 #383838;
    border:3px solid transparent;
    animation: pulse 1s linear infinite alternate;
    -webkit-animation: pulse 1s linear infinite alternate;
}
.active,
input:active{
    background-image: linear-gradient(rgba(0,0,0,.1) 13%, transparent 13%,transparent);
    box-shadow: 0 1px 0 0 #383838;
    color: rgba(0, 0, 0,.45);
    text-shadow: none;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
input:focus,
input:hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.blam:focus,
.blam:hover{
    background-color:#0097bd;
}
.blam{
    background-color:#00bff0;
    border-color: #00bff0;
}

.red:focus,
.red:hover{
    background-color:#ad4e4e;
}
.red{
    background-color:#e06464;
    border-color:#e06464;
}

.later:focus,
.later:hover{
    background-color:#7c8b8f;
}
.later{
    background-color:#a8bdc2;
    border-color:#a8bdc2;
}

@-webkit-keyframes pulse {
    100% {
        transform: translateY(6.9px);
    }
}

@keyframes pulse {
    100% {
        transform: translateY(6.9px);
    }
}