.uploadBtn {
    background: none;
    outline: none;
    border-radius: 3px;
    padding: 15px 70px;
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.41);
    box-shadow: 0 3px 0 0 #383838;
    border:3px solid transparent;
}

.image-upload > input {
    display: none;
}

.uploadImg {
    cursor: pointer;
    max-width: 300px;
    height: auto;
    margin: 30px 0;
    box-shadow: 2px 2px 5px #373737;
    animation: pulse 1s linear infinite alternate;
    -webkit-animation: pulse 1s linear infinite alternate;
}

@-webkit-keyframes pulse {
    100% {
        transform: translateY(6.9px);
    }
}

@keyframes pulse {
    100% {
        transform: translateY(6.9px);
    }
}