.wrapper {
    max-width: 65%;
    margin: 25px auto;
}

.wrapper h1 {
    margin-bottom: 30px;
}

.posts_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
}

.posts_container a {
    display: inline-block;
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    min-width: 200px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #eee;
    color: #7B8585;
    text-decoration: none;
    transition: 0.3s;
    border: 1px solid #7B8585;
    width: 100%;
}
.posts_container a:hover {
    background-color:#beecea;
    transition: 0.3s;
}

.buttonBlock {
    text-align: center;
}
.buttonBlock button {
    background-color: #41c7c2;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 75px;
}

.postBlock {
    display: block;
    padding: 20px 30px;
}

.postBlock h1, .postBlock h2, .postBlock h1, .postBlock p {
    margin-bottom: 30px;
}

.postBlock a {
    text-decoration: none;
    color: #7B8585;
}
.postBlock a:hover {
    color: #41c7c2;
}