@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
  padding:0;
  margin:0;
}

html{
  font:14px normal Arial, sans-serif;
  color:#626771;
  background-color:#fff;
}

body{
  padding: 25px;
  font-size: 16px;
}

#root {
  max-width: 1200px;
  max-height: 800px;
  padding: 0 20px;
  margin: auto;
}

.menu{
  padding: 25px;
  display: block;
  text-align: center;
}

.menu a{
  display: inline-block;
  font-family: 'Merriweather', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  min-width: 200px;
  padding: 10px 20px;
  cursor:pointer;
  background-color:#eee;
  color:#7B8585;
  text-decoration: none;
  transition:0.3s;
}

.menu a:hover{
  background-color:#beecea;
}

.menu a.active{
  color:#fff;
  background-color:#41c7c2;
}

p{
  padding-top:15px;
  font-size:12px;
}

.mainLayout {
  max-width: 1200px;
  padding: 25px 50px;
}
