@import url(https://fonts.googleapis.com/css?family=Merriweather);

.inputBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding-bottom: 25px;
}
.inputBlock input {
    background-color: #00bff0;
    color: #673AB7;
    letter-spacing: 1px;
    text-shadow: 0 1px 0px rgb(58, 58, 58);
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    box-shadow: 1px 2px 1px #673ab7;
    resize: none;
}
.error {
    color: #ff0000;
    font-size: 13px;
}

.loginBtn {
    cursor: pointer;
    background-color: #673ab7;
    border-color: #00bff0;
    border-radius: 3px;
    padding: 15px 70px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.41);
    box-shadow: 0 3px 0 0 #383838;
}

input:focus {
 background-color: #fff;
}
